.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Centered {
  margin: 25vh 0 -2.1rem 0;
  padding: 0px 0 0px 0;
  margin-left: 33.3vw;
}


.Centered2 {
  margin-left: 33.3vw;
  padding: 0px 0 0px 0;
}

.Boxes{
  height: 25vh;
}

.Inside{
  background-color: 'green';
  width: 33.3vw;
}

.ui.inverted.blue.segment.Change:hover {
  background-color: black!important;
  color: #fff!important;
}