.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: #83fdfd;
  height: 150px;
  padding: 20px;
  color: brown;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
/* {
  "palette": {
      "primary2Color": "#00e5ff",
      "primary1Color": "rgba(100, 221, 23, 0.97)",
      "primary3Color": "#00c853",
      "accent1Color": "#388e3c",
      "pickerHeaderColor": "#00e5ff"
  },
  "textField": {
      "errorColor": "#64dd17"
  }
} */