.App{
  margin-top: -10rem;

  transform: scale(.95);
}

.Contact{
  height: 25vh;
  margin-left: 40vw;
}

.Commercial{
  background: url('commercial.jpg');
  background-size: contain ;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;
  display: inline-block;
  height: 40vh;
  width: 30vw;
  margin: 0rem 0 0 0;
}
.Residential{
  background: url('https://images.pexels.com/photos/459570/pexels-photo-459570.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
  background-size: cover;
  border-style: solid;
  display: flex;
  background-repeat: no-repeat;
  display: inline-block;
  height: 40vh;
  width: 30vw;
  margin: 0rem 0 0 0;
}

.Services{
  /* background-color: blue; */
  height: 25vh;
  margin: 0rem 0 20rem 0;
}

.Title {
  background: url('pool.jpg');
  background-size: cover ;
  /* background-size: contain; */
  /* display: flex; */
  /* background-repeat: no-repeat; */
  border-style: solid;
  height: 128vh;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100vw;
  
}

.Text1{
  font-family: 'Playball', cursive;
  color: #FFFFFF;
  /* background-color: black; */
  
  text-align: center;
  font-size: 600%;
  margin-top: 3.5rem;
}
.Text2{
  font-family: 'Playball', cursive;
  color: #FFFFFF;
  /* background-color: black; */
  text-align: center;
  font-size: 600%;
  margin-top: -1rem;
}
.Text-Services{
  font-family: 'Playball', cursive;
  color: #FFFFFF;
}