/* @import "node_modules/react-image-gallery/styles/css/image-gallery.css"; */

.App {
  /* text-align: center; */
  /* height: 100%;
  width: 100%; */
  font-size: 62.5%;
  /* font-size: 62.5%; */
  /* height: 100vh; */
}

.BackgroundImage{
  background-image: url(images/ballerina.jpg);
  background-size: cover;         
  background-repeat: no-repeat;
  background-position: center; 
  transform: scale(.95);
  margin: -2rem 20rem 0 -5rem;
  height: 110vh;
  z-index: -1;
}

.BackgroundBlack{
  height: 110vh;
  background-color: black;
}

.Display-Block{
  display: inline-block
}

.Link-Black{
  color: black;
}

.Main-Theme{
  color: #FF530D;
}

.Theme-Carousel{
  margin: 3rem -10rem 0 50rem;

}
.Theme-Carousel img{
  width: auto;
  height: auto;
}

.image-gallery-thumbnail img {
  width: auto;
  height: 75px;
}
.Theme-Title{
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  color: white;
  margin: 2rem 0 0 65%;
  width: 40rem;
}

.Theme-White{
  color: white;
}